<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class='col-12 col-md-7'>
  <div class=row>
    <div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='rc_acteur_id' i18n>rc_acteur_id</label>
        <select class='select2 form-control' id='rc_acteur_id' formControlName='rc_acteur_id' [attr.value]="formGroup.value.rcActeur_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (rcActeur of rcActeurs; track $index) {
            <option [value]="rcActeur.id">
            {{rcActeur?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='rc_engin_flottant_id' i18n>rc_engin_flottant_id</label>
        <select class='select2 form-control' id='rc_engin_flottant_id' formControlName='rc_engin_flottant_id' [attr.value]="formGroup.value.rcEnginFlottant_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (rcEnginFlottant of rcEnginFlottants; track $index) {
            <option [value]="rcEnginFlottant.id">
            {{rcEnginFlottant?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='date_debut' i18n>date_debut</label>
        <input class='form-control' type='date' id='date_debut' formControlName='date_debut' i18n-placeholder placeholder='date_debut' />
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='date_fin' i18n>date_fin</label>
        <input class='form-control' type='date' id='date_fin' formControlName='date_fin' i18n-placeholder placeholder='date_fin' />
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='type_transaction' i18n>type_transaction</label>
        <select class='form-select form-control' id='type_transaction' formControlName='type_transaction' [attr.value]="formGroup.value.type_transaction">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (HISTORIQUE_PROPRIETE_TYPE_TRANSACTION of HISTORIQUE_PROPRIETE_TYPE_TRANSACTIONS; track $index) {
            <option [value]="HISTORIQUE_PROPRIETE_TYPE_TRANSACTION">{{HISTORIQUE_PROPRIETE_TYPE_TRANSACTION}}</option>
          }
        </select>
      </div>
    </div>

    <div class='col-12 text-right mt-3'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>
