<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class="">
  <div class=row>
    <div class='col-12'>
      <div class='form-group'>
        <label for='nom' i18n>nom</label>
        <input class='form-control' type='text' id='nom' formControlName='nom' i18n-placeholder placeholder='nom' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='version' i18n>version</label>
        <input class='form-control' type='text' id='version' formControlName='version' i18n-placeholder placeholder='version' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='schema_json' i18n>schema_json</label>
        <input class='form-control' type='text' id='schema_json' formControlName='schema_json' i18n-placeholder placeholder='schema_json' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='statut' i18n>statut</label>
        <select class='form-select form-control' id='statut' formControlName='statut' [attr.value]="formGroup.value.statut">
          <option hidden value="" i18n>Choisissez une option</option>
          <option value='pending'>En cours</option>
          <option value='validated'>Validé</option>
          <option value='canceled'>Annulé</option>
        </select>
      </div>
    </div>
		
    <div class='col-12 text-right'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>