<div class="nk-sidebar overflow-scroll" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Modules</h6>
        </li>
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/gu" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">Tableau de board</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-statut-demandes" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-statut-demandes</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-type-demandes" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-type-demandes</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-transactions" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-transactions</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-workflows" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-workflows</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-commentaires" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-commentaires</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-historiques" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-historiques</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="gu-demandes" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">gu-demandes</span>
            </a>
        </li>
    </ul>
  </div>
</div>
