<div class="">
  <div class="title">
    <h5 i18n>List REHistoriqueRelance</h5>
  </div>
  <div class="d-flex align-items-center justify-content-end mb-3">
    <a routerLink="/re/re-historique-relances/create" class='btn btn-primary btn-sm' i18n>+ Add rEHistoriqueRelances</a>
  </div>
  <app-error-messages
  [errorMessages]="errorHandler.errorMessages()"
  ></app-error-messages>
  <app-loader [isLoading]="isLoading()"></app-loader>
  <app-table
  *ngIf="!isLoading()"
  [tableAttributes]="tableAttributes"
  [tableActions]="tableActions"
  [tableData]="rEHistoriqueRelances()"
  [handleReadClick]="handleReadClick"
  [handleEditClick]="handleEditClick"
  [handleDeleteClick]="handleDeleteClick"></app-table>
  <app-pagination [page]="page()" [pageLength]="pageLength()"></app-pagination>
</div>
