<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class='col-12 col-md-7'>
  <div class=row>
    <div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='contenu' i18n>contenu</label>
        <input class='form-control' type='text' id='contenu' formControlName='contenu' i18n-placeholder placeholder='contenu' />
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='date' i18n>date</label>
        <input class='form-control' type='date' id='date' formControlName='date' i18n-placeholder placeholder='date' />
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='heure' i18n>heure</label>
        <input class='form-control' type='text' id='heure' formControlName='heure' i18n-placeholder placeholder='heure' />
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='user_id' i18n>user_id</label>
        <select class='select2 form-control' id='user_id' formControlName='user_id' [attr.value]="formGroup.value.user_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (user of users; track $index) {
            <option [value]="user.id">
            {{user?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12 col-md-6'>
      <div class='form-group'>
        <label for='gu_demande_id' i18n>gu_demande_id</label>
        <select class='select2 form-control' id='gu_demande_id' formControlName='gu_demande_id' [attr.value]="formGroup.value.guDemande_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (guDemande of guDemandes; track $index) {
            <option [value]="guDemande.id">
            {{guDemande?.reference}}
            </option>
          }
        </select>
      </div>
    </div>

    <div class='col-12 text-right mt-3'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>
