<div class="nk-sidebar overflow-scroll" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Modules</h6>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="roles" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">roles</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="users" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">users</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="notifications" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">notifications</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="audit-logs" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">audit-logs</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="config-systemes" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">config-systemes</span>
            </a>
        </li>
    </ul>
  </div>
</div>
