<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class="">
  <div class=row>
    <div class='col-12'>
      <div class='form-group'>
        <label for='ed_api_id' i18n>ed_api_id</label>
        <select class='select2 form-control' id='ed_api_id' formControlName='ed_api_id' [attr.value]="formGroup.value.edApi_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (edApi of edApis; track $index) {
            <option [value]="edApi.id">
            {{edApi?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='rc_acteur_id' i18n>rc_acteur_id</label>
        <select class='select2 form-control' id='rc_acteur_id' formControlName='rc_acteur_id' [attr.value]="formGroup.value.rcActeur_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (rcActeur of rcActeurs; track $index) {
            <option [value]="rcActeur.id">
            {{rcActeur?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='nom_client' i18n>nom_client</label>
        <input class='form-control' type='text' id='nom_client' formControlName='nom_client' i18n-placeholder placeholder='nom_client' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='token' i18n>token</label>
        <input class='form-control' type='text' id='token' formControlName='token' i18n-placeholder placeholder='token' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='date_expiration' i18n>date_expiration</label>
        <input class='form-control' type='date' id='date_expiration' formControlName='date_expiration' i18n-placeholder placeholder='date_expiration' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='limite_requetes_jour' i18n>limite_requetes_jour</label>
        <input class='form-control' type='number' id='limite_requetes_jour' formControlName='limite_requetes_jour' i18n-placeholder placeholder='limite_requetes_jour' />
      </div>
    </div>

    <div class='col-12 text-right'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>
