<div class="nk-sidebar overflow-scroll" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Modules</h6>
        </li>
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/ed" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">Tableau de board</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-format-donneess" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-format-donneess</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-schema-donneess" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-schema-donneess</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-apis" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-apis</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-log-echanges" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-log-echanges</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-abonnements" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-abonnements</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="ed-politique-access" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">ed-politique-access</span>
            </a>
        </li>
    </ul>
  </div>
</div>
