<div class="nk-sidebar overflow-scroll" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Modules</h6>
        </li>
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/in" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">Tableau de board</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-type-controles" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-type-controles</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-resultat-items" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-resultat-items</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-checklists" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-checklists</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-non-conformites" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-non-conformites</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-planifications" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-planifications</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-equipe-inspections" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-equipe-inspections</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="/in/in-inspections" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">in-inspections</span>
            </a>
        </li>
    </ul>
  </div>
</div>
