<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class="">
  <div class=row>
    <div class='col-12'>
      <div class='form-group'>
        <label for='user_id' i18n>user_id</label>
        <select class='select2 form-control' id='user_id' formControlName='user_id' [attr.value]="formGroup.value.user_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (user of users; track $index) {
            <option [value]="user.id">
            {{user?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='titre' i18n>titre</label>
        <input class='form-control' type='text' id='titre' formControlName='titre' i18n-placeholder placeholder='titre' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='message' i18n>message</label>
        <input class='form-control' type='text' id='message' formControlName='message' i18n-placeholder placeholder='message' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='lu' i18n>lu</label>
        <input class='form-control' type='checkbox' id='lu' formControlName='lu' i18n-placeholder placeholder='lu' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='type' i18n>type</label>
        <select class='form-select form-control' id='type' formControlName='type' [attr.value]="formGroup.value.type">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (NOTIFICATION_TYPE of NOTIFICATION_TYPES; track $index) {
            <option [value]="NOTIFICATION_TYPE">{{NOTIFICATION_TYPE}}</option>
          }
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='entite_type' i18n>entite_type</label>
        <input class='form-control' type='text' id='entite_type' formControlName='entite_type' i18n-placeholder placeholder='entite_type' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='entite_id' i18n>entite_id</label>
        <input class='form-control' type='number' id='entite_id' formControlName='entite_id' i18n-placeholder placeholder='entite_id' />
      </div>
    </div>

    <div class='col-12 text-right'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>
