<div class="row mx-0 align-items-stretch">
  <div class="col-12 col-md-6 col-lg-4 my-3">
    <div class="card card-bordered h-100">
        <div class="card-body h-100">
            <h5 class="card-title">Référentiel commun des données de base du secteur maritime</h5>
            <p class="card-text">Référentiel commun des données de base du secteur maritime</p>
            <a routerLink="/rc" class="btn btn-primary">Accéder ici</a>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 my-3">
    <div class="card card-bordered h-100">
        <div class="card-body h-100">
            <h5 class="card-title">Guichet unique numérique pour les acteurs du secteur</h5>
            <p class="card-text">Guichet unique numérique pour les acteurs du secteur</p>
            <a routerLink="/gu" class="btn btn-primary">Accéder ici</a>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 my-3">
    <div class="card card-bordered h-100">
        <div class="card-body h-100">
            <h5 class="card-title">Plateforme intégrée de gestion des inspections et contrôles des navires</h5>
            <p class="card-text">Plateforme intégrée de gestion des inspections et contrôles des navires</p>
            <a routerLink="/in" class="btn btn-primary">Accéder ici</a>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 my-3">
    <div class="card card-bordered h-100">
        <div class="card-body h-100">
            <h5 class="card-title">Plateforme unifiée de gestion des ordres de recette</h5>
            <p class="card-text">Plateforme unifiée de gestion des ordres de recette</p>
            <a routerLink="/re" class="btn btn-primary">Accéder ici</a>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 my-3">
    <div class="card card-bordered h-100">
        <div class="card-body h-100">
            <h5 class="card-title">Plateforme numérique d'échanges de données</h5>
            <p class="card-text">Plateforme numérique d'échanges de données</p>
            <a routerLink="/ed" class="btn btn-primary">Accéder ici</a>
        </div>
    </div>
  </div>
</div>
