<div>
  <ul>
    <li>
      <a routerLink="roles">roles</a>
    </li>
    <li>
      <a routerLink="users">users</a>
    </li>
    <li>
      <a routerLink="notifications">notifications</a>
    </li>
    <li>
      <a routerLink="audit-logs">audit-logs</a>
    </li>
    <li>
      <a routerLink="config-systemes">config-systemes</a>
    </li>
    <li>
      <a routerLink="rc-payss">rc-payss</a>
    </li>
    <li>
      <a routerLink="rc-type-engins">rc-type-engins</a>
    </li>
    <li>
      <a routerLink="rc-acteurs">rc-acteurs</a>
    </li>
    <li>
      <a routerLink="rc-equipements">rc-equipements</a>
    </li>
    <li>
      <a routerLink="rc-ports">rc-ports</a>
    </li>
    <li>
      <a routerLink="rc-certificats">rc-certificats</a>
    </li>
    <li>
      <a routerLink="rc-historique-proprietes">rc-historique-proprietes</a>
    </li>
    <li>
      <a routerLink="rc-engin-flottants">rc-engin-flottants</a>
    </li>
    <li>
      <a routerLink="gu-statut-demandes">gu-statut-demandes</a>
    </li>
    <li>
      <a routerLink="gu-type-demandes">gu-type-demandes</a>
    </li>
    <li>
      <a routerLink="gu-transactions">gu-transactions</a>
    </li>
    <li>
      <a routerLink="gu-workflows">gu-workflows</a>
    </li>
    <li>
      <a routerLink="gu-commentaires">gu-commentaires</a>
    </li>
    <li>
      <a routerLink="gu-historiques">gu-historiques</a>
    </li>
    <li>
      <a routerLink="gu-demandes">gu-demandes</a>
    </li>
    <li>
      <a routerLink="in-type-controles">in-type-controles</a>
    </li>
    <li>
      <a routerLink="in-resultat-items">in-resultat-items</a>
    </li>
    <li>
      <a routerLink="in-checklists">in-checklists</a>
    </li>
    <li>
      <a routerLink="in-non-conformites">in-non-conformites</a>
    </li>
    <li>
      <a routerLink="in-planifications">in-planifications</a>
    </li>
    <li>
      <a routerLink="in-equipe-inspections">in-equipe-inspections</a>
    </li>
    <li>
      <a routerLink="in-inspections">in-inspections</a>
    </li>
    <li>
      <a routerLink="re-tarifs">re-tarifs</a>
    </li>
    <li>
      <a routerLink="re-mode-paiements">re-mode-paiements</a>
    </li>
    <li>
      <a routerLink="re-ordre-recettes">re-ordre-recettes</a>
    </li>
    <li>
      <a routerLink="re-relances">re-relances</a>
    </li>
    <li>
      <a routerLink="re-remises">re-remises</a>
    </li>
    <li>
      <a routerLink="re-historique-relances">re-historique-relances</a>
    </li>
    <li>
      <a routerLink="re-paiements">re-paiements</a>
    </li>
    <li>
      <a routerLink="ed-format-donneess">ed-format-donneess</a>
    </li>
    <li>
      <a routerLink="ed-schema-donneess">ed-schema-donneess</a>
    </li>
    <li>
      <a routerLink="ed-apis">ed-apis</a>
    </li>
    <li>
      <a routerLink="ed-log-echanges">ed-log-echanges</a>
    </li>
    <li>
      <a routerLink="ed-abonnements">ed-abonnements</a>
    </li>
    <li>
      <a routerLink="ed-politique-access">ed-politique-access</a>
    </li>
  </ul>
</div>
