<div class="">
  <div class="title">
    <h5 i18n>List INEquipeInspection</h5>
  </div>
  <div class="d-flex align-items-center justify-content-end mb-3">
    <a routerLink="/in/in-equipe-inspections/create" class='btn btn-primary btn-sm' i18n>+ Add iNEquipeInspections</a>
  </div>
  <app-error-messages
  [errorMessages]="errorHandler.errorMessages()"
  ></app-error-messages>
  <app-loader [isLoading]="isLoading()"></app-loader>
  <app-table
  *ngIf="!isLoading()"
  [tableAttributes]="tableAttributes"
  [tableActions]="tableActions"
  [tableData]="iNEquipeInspections()"
  [handleReadClick]="handleReadClick"
  [handleEditClick]="handleEditClick"
  [handleDeleteClick]="handleDeleteClick"></app-table>
  <app-pagination [page]="page()" [pageLength]="pageLength()"></app-pagination>
</div>
