<div class="nk-sidebar overflow-scroll" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu-md">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Modules</h6>
        </li>
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/rc" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">Tableau de board</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-payss" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-payss</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-type-engins" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-type-engins</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-acteurs" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-acteurs</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-equipements" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-equipements</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-ports" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-ports</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-certificats" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-certificats</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-historique-proprietes" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-historique-proprietes</span>
            </a>
        </li>
        <li class="nk-menu-item" routerLinkActive="active">
            <a routerLink="rc-engin-flottants" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                <span class="nk-menu-text">rc-engin-flottants</span>
            </a>
        </li>
    </ul>
  </div>
</div>
