<form [formGroup]="formGroup" (submit)="handleSubmit($event)" class="">
  <div class=row>
    <div class='col-12'>
      <div class='form-group'>
        <label for='rc_engin_flottant_id' i18n>rc_engin_flottant_id</label>
        <select class='select2 form-control' id='rc_engin_flottant_id' formControlName='rc_engin_flottant_id' [attr.value]="formGroup.value.rcEnginFlottant_id">
          <option hidden value="" i18n>Choisissez une option</option>
          @for (rcEnginFlottant of rcEnginFlottants; track $index) {
            <option [value]="rcEnginFlottant.id">
            {{rcEnginFlottant?.nom}}
            </option>
          }
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='type' i18n>type</label>
        <select class='form-select form-control' id='type' formControlName='type' [attr.value]="formGroup.value.type">
          <option hidden value="" i18n>Choisissez une option</option>
          <option value='pending'>En cours</option>
          <option value='validated'>Validé</option>
          <option value='canceled'>Annulé</option>
        </select>
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='numero' i18n>numero</label>
        <input class='form-control' type='text' id='numero' formControlName='numero' i18n-placeholder placeholder='numero' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='date_emission' i18n>date_emission</label>
        <input class='form-control' type='date' id='date_emission' formControlName='date_emission' i18n-placeholder placeholder='date_emission' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='date_expiration' i18n>date_expiration</label>
        <input class='form-control' type='date' id='date_expiration' formControlName='date_expiration' i18n-placeholder placeholder='date_expiration' />
      </div>
    </div>
		<div class='col-12'>
      <div class='form-group'>
        <label for='organisme_emetteur' i18n>organisme_emetteur</label>
        <input class='form-control' type='text' id='organisme_emetteur' formControlName='organisme_emetteur' i18n-placeholder placeholder='organisme_emetteur' />
      </div>
    </div>

    <div class='col-12 text-right'>
        <button class="btn btn-primary" type="submit" [disabled]="isLoading" i18n>
          @if (isLoading) {
            Chargement...
          } @else {
            Enregistrer
          }
        </button>
    </div>
  </div>
</form>
